<div class="container body-content">

    <h1>@ViewBag.title</h1>

    <form action="/search/results" method="post">
        <h3>Search Recipes By:</h3>

        <p>
            <span>
                <input type="radio" name="searchType" id="Keyword" value="Keyword" checked="" />
                <label for="Keyword">Keyword(E.g. Cheese Burgers)</label>
            </span>
            <br>
            <span>
                <input type="radio" name="searchType" id="Ingredient" value="Ingredient" />
                <label for="Ingredient">Ingredient (E.g. Rice, Spinach, Orange, Chicken)</label>
            </span>
            <br>
            <span>
                <input type="radio" name="searchType" id="Type" value="Type" />
                <label for="Type">Type (E.g. Sandwiches, Salad, Bowls, Wraps)</label>
            </span>
        </p>

        <p>
            <label for="searchTerm">Search Terms:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width:280px">
        <a href="#" data-bs-toggle="dropdown" aria-expanded="false"><strong>Selected Ingredients</strong></a>
        <ul class="nav nav-pills flex-column mb-auto" aria-labelledby="Sidebar">
            <li class="nav-item"><a class="nav-link link-dark" href="#">Rice </a></li>
            <li><a class="nav-link link-dark" href="#">Wheat </a></li>
            <li><a class="nav-link link-dark" href="#">Apple </a></li>
            <li><a class="nav-link link-dark" href="#">Banana </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><button class="btn btn-primary btn-toggle-nav rounded">Search Availble Recipes </button></li>
        </ul>
    </div>

    <hr />

    @if (ViewBag.produces != null)
    {
        <table>
            @foreach (var produce in ViewBag.produces)
            {
                <tr>
                    <td>
                        <div>
                            <span>
                                <input type="checkbox" name="searchType" id="@produce.produce.Id" value="@produce.produce.Name" />
                                <label for="@produce.produce.Id">@produce.produce.Name</label>
                            </span>

                        </div>

                    </td>
                </tr>
            }
        </table>
    }


</div>
